@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AirlineWebApp </h1>
    <br/>
    <br/>
  
    <p>Refer the code<a href="https://github.com/takyogesh/AirlineWebAppAssignment">click for the source</a>.</p>
  
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
