@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AirlineWebApp </h1>
    <br/>
    <br/>
    <p>
        Already register click here to
    <a class="d-lg-inline-block" asp-controller="Account" class="btn btn-primary" asp-action="Login">Login</a>
    </p>
    <p>
        New User click here
         <a class="d-lg-inline-block" asp-controller="Account" class="btn btn-primary" asp-action="Index">Register</a>
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
